@model DuckyData1._0._0Alpha.ViewModels.BugReportAdd

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/createBugreportController.js")
@Styles.Render("~/Content/BugReport/createBugReport.css")
<script type="text/javascript" src="../../Scripts/autosize.js"></script>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="create-bug-report" ng-controller="createBugReportCtrl">
        <h4>BugReport</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea cols="20" id="subject" ng-model="createBugReportData.subject" ng-change="validateSubject()" name="subject" rows="2" style="overflow: hidden; word-wrap: break-word; height: 59px;"></textarea>
                <div class="width-100 text-danger">{{createBugReportMsg.subject}}</div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="category" name="category">
                    <option value="Bug Report" selected>Bug Report</option>
                    <option value="Tech Support">Tech Support</option>
                    <option value="Suggestion">Suggestion</option>
                </select>
                @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.body,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="width-100 text-danger">{{createBugReportMsg.desc}}</div>
                <textarea cols="20" id="body" name="body" ng-model="createBugReportData.desc" ng-change="validateDesc()" rows="2" style="overflow: hidden; word-wrap: break-word; height: 59px;"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" ng-disabled="createBugReportUI.disableBtn" />
            </div>
        </div>
    </div>
}
<script>
    autosize(document.querySelectorAll('textarea'));
</script>