@model DuckyData1._0._0Alpha.Models.BugReport
@Styles.Render("~/Content/BugReport/listBugReport.css")
<div>
    <h4>Bug Report</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submittedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submittedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
    <div class="row" id="followUpsRepeatBox">
        @foreach (var i in Model.FollowUps)
        {
            <div class="followUpWarpper">
                <div class="col-lg-12 bg-primary followUpHeader">
                    <div class="col-md-7 followUpTitle text-ellipsis">
                        <label>Title:</label>
                        @Html.DisplayFor(modelitem => i.Title)
                    </div>
                    <div class="col-md-2 followUpCreatedBy text-ellipsis">
                        <label>Created By:</label>
                        @Html.DisplayFor(modelitem => i.CreatedBy)
                    </div>
                    <div class="col-md-3 followUpTimeStamp text-ellipsis">
                        @Html.DisplayFor(modelitem => i.TimeStamp)
                    </div>
                </div>
                <div class="col-lg-12 followUpDesc">
                    @Html.Raw(i.Description)
                </div>
            </div>
        }
    </div>

</div>
<p>
    @if (Model.status == "Open")
    {
        @Html.ActionLink("Create Follow Ups |", "FollowUps", new { id = Model.Id })
    }

    @Html.ActionLink("Back to List", "Index")
</p>
