@model DuckyData1._0._0Alpha.ViewModels.FollowUps.FollowUpAddForm

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Styles.Render("~/Content/BugReport/createFollowUp.css")
@Scripts.Render("~/Scripts/autosize.js")
@Scripts.Render("~/Scripts/createFollowUpController.js")

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.report.subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.report.subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.report.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.report.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.report.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.report.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.report.body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.report.body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.report.submittedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.report.submittedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.report.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.report.status)
        </dd>
    </dl>
    <div class="form-horizontal" id="create-follow-up" ng-controller="followUpCtrl">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.report.Id)
        @Html.HiddenFor(model => model.report.subject)
        @Html.HiddenFor(model => model.report.date)
        @Html.HiddenFor(model => model.report.category)
        @Html.HiddenFor(model => model.report.body)
        @Html.HiddenFor(model => model.report.submittedBy)
        @Html.HiddenFor(model => model.report.assignTo)
        @Html.HiddenFor(model => model.report.status)
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="text-danger">{{createFollowUpMsg.subject}}</div>
                <input class="form-control text-box single-line" id="Title" name="Title" type="text" value="" aria-invalid="true" ng-model="createFollowUpData.subject" ng-change="validateSubject()">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="text-danger">{{createFollowUpMsg.desc}}</div>
                <textarea cols="20" data-val="true" htmlattributes="{ class = form-control }" id="Description" name="Description" rows="2" ng-model="createFollowUpData.desc" ng-change="validateDesc()"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" ng-disabled="!createFollowUpData.subject || !createFollowUpData.desc || createFollowUpUI.disableBtn" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    autosize(document.querySelectorAll('textarea'));
</script>