@model DuckyData1._0._0Alpha.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@Scripts.Render("~/Scripts/changePasswordController.js")
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="width-100" ng-controller="changePasswordCtrl">
        @Html.ValidationSummary("",new { @class = "text-danger" })
        <div class="form-group">
            <div class="text-danger col-lg-10 pull-right">{{changePasswordErrorMsg.curPasswordMsgRegx}}</div>
            <div class="text-danger col-lg-10 pull-right">{{changePasswordErrorMsg.curPasswordMsgLen}}</div>
            <div class="text-danger col-lg-10 pull-right">{{changePasswordErrorMsg.curPasswordMsgRange}}</div>
            <div class="text-danger col-lg-10 pull-right">{{changePasswordErrorMsg.curPasswordMsgRequire}}</div>
            @Html.LabelFor(m => m.OldPassword,new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input class="form-control" ng-model="changePasswordData.curPassword" ng-change="validCurrentPassword()" id="OldPassword" name="OldPassword" type="password">
            </div>
        </div>
        <div class="form-group">
            <div class="text-danger col-lg-10 pull-right">{{changePasswordErrorMsg.newPasswordMsgRegx}}</div>
            <div class="text-danger col-lg-10 pull-right">{{changePasswordErrorMsg.newPasswordMsgLen}}</div>
            <div class="text-danger col-lg-10 pull-right">{{changePasswordErrorMsg.newPasswordMsgRange}}</div>
            <div class="text-danger col-lg-10 pull-right">{{changePasswordErrorMsg.newPasswordMsgRequire}}</div>
            @Html.LabelFor(m => m.NewPassword,new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input class="form-control" ng-model="changePasswordData.newPassword" ng-change="validNewPassword()" id="NewPassword" name="NewPassword" type="password">
            </div>
        </div>
        <div class="form-group">
            <div class="text-danger col-lg-10 pull-right">{{changePasswordErrorMsg.conPasswordMsgRegx}}</div>
            <div class="text-danger col-lg-10 pull-right">{{changePasswordErrorMsg.conPasswordMsgLen}}</div>
            <div class="text-danger col-lg-10 pull-right">{{changePasswordErrorMsg.conPasswordMsgRange}}</div>
            <div class="text-danger col-lg-10 pull-right">{{changePasswordErrorMsg.conPasswordMsgSame}}</div>
            <div class="text-danger col-lg-10 pull-right">{{changePasswordErrorMsg.conPasswordMsgRequire}}</div>
            @Html.LabelFor(m => m.ConfirmPassword,new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div class="text-danger">{{changePasswordErrorMsg.conPassword}}</div>
                <input class="form-control" ng-model="changePasswordData.conPassword" ng-change="validConPassword()" id="ConfirmPassword" name="ConfirmPassword" type="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change password" class="btn btn-primary" ng-disabled="changePasswordUI.disableBtn || !changePasswordData.conPassword || !changePasswordData.curPassword || !changePasswordData.newPassword" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}