<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/helper.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor_basic.js")

    <script type="text/javascript" src="../../Scripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="../../Scripts/angular.js"></script>
    <script type="text/javascript" src="../../Scripts/angular-resource.js"></script>
    <script type="text/javascript" src="../../Scripts/angular-route.js"></script>
    <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
</head>
<body ng-app="duckyData" id="body">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-logo" src="@Url.Content("~/images/logo.png")" alt="Logo" />
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Music Fetch<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Messages", "Inbox", "Message")</li>
                            <li>@Html.ActionLink("Bug Reports", "Index", "BugReports")</li>
                            <li>@Html.ActionLink("Follow Ups", "Index", "FollowUps")</li>
                            <li>@Html.ActionLink("Music Fetch", "Index", "MusicFetch")</li>
                            <li>@Html.ActionLink("ACRtest", "ACRQuery", "MusicFetch")</li>
                            <li>@Html.ActionLink("Input", "Input", "MusicFetch")</li>
                        </ul>
                    </li>

                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Tools<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Roles", "RoleIndex", "Account")</li>
                                <li>@Html.ActionLink("Create Role", "RoleCreate", "Account")</li>
                                <li>@Html.ActionLink("Apply Role to User", "RoleAddToUser", "Account")</li>
                                <li>@Html.ActionLink("Users", "ListUsers", "Account")</li>
                                <li>@Html.ActionLink("Messages", "Index", "Message")</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content ">
        @RenderBody()
    </div>
    <!--<footer>
        <div class="width-100">
            <div class="col-xs-4 col-xs-offset-3">
                <h3 class="footer-title">Meet our team</h3>
                <p>&copy; @DateTime.Now.Year - DuckyData</p>
            </div>
            <div class="col-xs-5">
                <div class="footer-banner">
                    <h3 class="footer-title"><span class="fui-mail"></span>&nbsp;Leave us a message</h3>
                    <ul>
                        <li>Contact us at duckydata@gmail.com</li>
                        <li>Have a suggestion for us?</li>
                        <li>Report a bug!</li>
                    </ul>
                    Go to: <a href="http://designmodo.com/flat" target="_blank">designmodo.com/flat</a>
                </div>
            </div>
        </div>
    </footer>-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });

</script>
