<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Site.css"></link>
     @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/helper.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor_basic.js")
   
    <script type="text/javascript" src="../../Scripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="../../Scripts/angular.js"></script>
    <script type="text/javascript" src="../../Scripts/client.js"></script>
    <script type="text/javascript" src="../../Scripts/angular-resource.js"></script>
    <script type="text/javascript" src="../../Scripts/angular-cookies.js"></script>
    <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
    <script type="text/javascript" src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-file-uploader.js"></script>
    <script type="text/javascript" src="~/Scripts/duckyDataApp.js"></script>

</head>
<body ng-app="duckyData" ng-cloak>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-logo" src="~/Images/logo.PNG")" alt="Logo" />
                @* @Html.Label("DuckyData", new { @class = "navbar-brand" })*@
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Contact","Contact","Home")</li>
                        </ul>
                    </li>
                    
                    @{
                        if (HttpContext.Current.User.IsInRole("Admin")) { Html.RenderAction("_AdminTools", "Home"); }
                        else if (HttpContext.Current.User.IsInRole("TechSupport"))
                        {
                    <li>@Html.ActionLink("Bug Reports", "Index", "BugReports")</li> }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content ">
        @RenderBody()
    </div>
 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });

</script>
