@model DuckyData1._0._0Alpha.ViewModels.MessageBase

@{
    ViewBag.Title = "Message";
}

<h2>Message</h2>


    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SentDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SentDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Recipient)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Recipient)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                @Html.Raw(Model.Body)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Reply", "Reply", new { id = Model.Id }) |
        @Html.ActionLink("Inbox", "Inbox") |
        @Html.ActionLink("Sent", "Sent") 
</p>
