@model DuckyData1._0._0Alpha.ViewModels.Account.adminEditUser

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("/Scripts/editUserProfileController.js")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" ng-controller="editUserProfileCtrl">
        <h4>Update Your Profile</h4>
        <hr />
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" id="FirstName" name="FirstName" placeholder="First Name" type="text" value=@Model.FirstName aria-invalid="false">
                <div class="text-danger">{{editUserProfileMsg.fname}}</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" id="LastName" name="LastName" placeholder="Last Name" type="text" value=@Model.LastName aria-invalid="false">
                <div class="text-danger">{{editUserProfileMsg.lname}}</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" id="PhoneNumber" name="PhoneNumber" placeholder="9999999999" type="text" value=@Model.PhoneNumber aria-invalid="false">
                <div class="text-danger">{{editUserProfileMsg.phone}}</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" ng-disabled="editUserProfileUI.disableButton" class="btn btn-primary col-lg-12" />
            </div>
        </div>
    </div>
}
