@model IEnumerable<DuckyData1._0._0Alpha.ViewModels.Account.userFlags>

@Html.ActionLink("Purge User flags", "PurgeUserFlags")
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flagged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gagged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.banned)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @using (Html.BeginForm("EditFlags", "Account"))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("uid", item.Id)
            <td>
                @{
                    if (item.flagged)
                    {
                        @Html.CheckBox("flag", true)
                    }
                    else
                    {
                        @Html.CheckBox("flag")
                    }
                }
            </td>
            <td>
                @{
                    if (item.gagged)
                    {
                        @Html.CheckBox("gag", true)
                    }
                    else
                    {
                        @Html.CheckBox("gag")
                    }
                }
            </td>
            <td>
               @{
                   if (item.banned)
                   {
                    @Html.CheckBox("ban", true)
                   }
                   else
                   {
                    @Html.CheckBox("ban")
                   }
            }
            </td>

            <td><input type="submit" value="update flags" /></td>
                   }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })| <br />
                @{
                    var tmp = Html.Action("LockoutStatus", new { id = item.Id });
                    if (tmp.ToString() == "True")
                    {
                        @Html.ActionLink("Activate", "Activate", new { id = item.Id })
                    }
                    else
                    {
                        @Html.ActionLink("Deactivate", "Deactivate", new { id = item.Id })
                    }
                }
            </td>
        </tr>
    }
    
    </table>
