@model DuckyData1._0._0Alpha.Models.RegisterViewModel
@{
    ViewBag.Title = "Register Account";
}
@Scripts.Render("~/Scripts/RegisterController.js")
@Scripts.Render("~/bundles/jqueryval")



<div id="Regiester" ng-controller="registerAccountCtrl">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("",new { @class = "text-danger" })
        <div class="width-100 text-danger">{{registerAccountErrorMsg.emailMsg}}</div>
        <div class="width-100 text-danger">{{registerAccountErrorMsg.passwordMsgThree}}</div>
        <div class="width-100 text-danger">{{registerAccountErrorMsg.passwordMsg}}</div>
        <div class="width-100 text-danger">{{registerAccountErrorMsg.passwordMsgTwo}}</div>
        <div class="width-100 text-danger">{{registerAccountErrorMsg.cPasswordMsg}}</div>
            <div class="form-group">
                <div class="col-md-12">
                    <input class="form-control" ng-model="registerAccountData.email" ng-change="validTheEmailAddress()" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" placeholder="Email" type="text" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input class="form-control" ng-model="registerAccountData.password" ng-change="validTheConfirmPassword();validThePassword()" data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" name="Password" placeholder="Password" type="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input class="form-control" ng-model="registerAccountData.cPassword" ng-change="validTheConfirmPassword();validThePassword()"  data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" type="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="col-md-12 btn btn-primary" ng-disabled="registerAccountUI.disableBtn" value="Register" />
                </div>
            </div>
            }
        </div>
